<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-squadcast-index") %>>
            <a href="/docs/providers/squadcast/index.html">Squadcast Provider</a>
        </li>

        <li<%= sidebar_current("docs-squadcast-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-squadcast-datasource-escalation-policy") %>>
                    <a href="/docs/providers/squadcast/d/escalation_policy.html">squadcast_escalation_policy</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-squadcast-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-squadcast-resource-service") %>>
                    <a href="/docs/providers/squadcast/r/service.html">squadcast_service</a>
                </li>                
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
